.comentarios ul, .comentarios ol, .comentarios li {
	list-style: none;
}

.comentario {
	border-top: 1px solid #e6e6e6;
}

.comentario h3 {
	font-size: 12px;
	color: green;
}

.comment-user{
	color: #337ab7;
	font-size: 12px;
}

.comment-head {
margin:0 0 1em 0;
}

.comment-head .name{
	font-weight: bold;
	margin: 0;
	font-size: 12px;
	display: block;
}

.comment-head .name .menu{
	font-weight: bold;
	margin: 0;
	font-size: 10px;
}

.comment-head .date{
	font-size: 10px;
	font-weight: bold;
	color: #828282;
}

.clicavel{
  cursor: pointer;
}

.post-buttons{
	margin-bottom: 20px;
}