<!doctype html>
<html>
<head>
<meta charset="UTF-8">
</head>
<body >
	
	<div ng-controller="PostController" ng-init="listar()">
      <div class="blog-post" ng-repeat="post in posts">
   		<h2 class="blog-post-title clicavel" ng-click="ver(post)">{{post.titulo}}</h2>
        <p class="blog-post-meta">{{post.dataRegistro | date:"MM/dd/yyyy @ hh:mm"}} by <a href="#">{{post.usuario}}</a></p>
        <p>{{post.texto | limitarTexto: 500 }}</p>
      </div><!-- /.blog-post -->
      
      <nav>
        <ul class="pager">
          <li><a href="#">Previous</a></li>
          <li><a href="#">Next</a></li>
        </ul>
      </nav>

    </div><!-- /.blog-main -->

	
</body>
</html>