<!doctype html>
<html>
<head>
<meta charset="UTF-8">
</head>
<body>
	<div ng-controller="PostController">
		<div class="blog-post">
   			<h2 class="blog-post-title" ng-mouseover="showMenuPost = true" ng-mouseleave="showMenuPost = false">
   				<span>{{post.titulo}}</span>
	   			<div class="blog-post-menu" ng-show="showMenuPost">
					<a title="editar" ng-click="prepararEdicao()"><i class="glyphicon glyphicon-pencil" aria-hidden="true"></i>editar</a>
					<a title="apagar" ng-click="deletar()"><i class="glyphicon glyphicon-trash" aria-hidden="true"></i>apagar</a>
	   			</div>
   			</h2>
        	<p class="blog-post-meta">December 23, 2013 by <a href="#">{{post.usuario}}</a></p>
        	<p>{{post.texto}}</p>
      	</div>

		<div class="panel panel-default">
		  <div class="panel-heading">
		    <h3 class="panel-title">Comentários</h3>
		  </div>
		  <div class="panel-body">
		  	<div class="comentarios">
				<form name="comentarioForm">
					<p>
					<input type="text" class="form-control" style="width:180px;" ng-model="comentario.usuario" placeholder="Usuário (Obrigatório)" ng-required="true">
					</p>
					<p>
						<textarea class="form-control" ng-model="comentario.texto" ng-required="true"></textarea>
					</p>
					<p>
						<button class="btn btn-default" type="submit" ng-click="adicionarComentario(comentario)" ng-disabled="comentarioForm.$invalid">Enviar Comentário</button>
					</p>
				</form>
			</div>
		    <div ng-show="post.comentarios.length" class="comentarios">
				<ol>
					<li class="comentario" ng-repeat="c in post.comentarios">
						<div>
							<div class="comment-head">
								<span class="name">
									<a href="">{{c.usuario}}</a>
								</span>
								<span class="date">
									00/00/2000
								</span>
							</div>
							<div class="comment-entry">
								<p class="content">{{c.texto}}</p>
							</div>
						</div>
					</li>
				</ol>
			</div>
		  </div>
		</div>
	</div>
</body>
</html>