<!DOCTYPE html>
<html ng-app="blogApp" lang="pt">
  <head>
    <meta charset="utf-8">
    <title>Blog AngularJS - Gabriel Feitosa</title>
    <script src="js/lib/angular.min.js"></script>
    
    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
	<link rel="stylesheet" type="text/css" href="css/blog.css">
  	
</head>

  <body>
	
    <div id="navegacao" class="blog-masthead">
      <div class="container" ng-controller="NavController">
        <nav class="blog-nav">
          <a class="blog-nav-item" ng-repeat="m in menu" href="{{m.href}}" ng-class="{ 'active': $index == selectedIndex }"
             ng-click="itemClicked($index)">{{m.item}}</a>
        </nav>
      </div>
    </div>

    <div class="container">
      <div class="blog-header">
        <h1 class="blog-title">Blog AngularJS + Bootstrap</h1>
        <p class="lead blog-description">Aplicação de estudo sobre o AngularJS, Bootstrap.</p>
        <hr>
      </div>

      <div class="row">
        <div class="col-sm-8 blog-main">
       		<div ng-view></div>
   		</div>
        

        <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
          <div class="sidebar-module sidebar-module-inset">
            <h4>Sobre</h4>
            <p>Aplicação desenvolvida por <a target="_blank" href="http://br.linkedin.com/in/gabrielfeitosa">Gabriel Feitosa</a> para estudo sobre o AngularJS e o Bootstrap.</p>
          </div>
          <div class="sidebar-module">
            <h4>Arquivos</h4>
            <ol class="list-unstyled">
              <li><a href="#">Janeiro 2015</a></li>
            </ol>
          </div>
          <div class="sidebar-module">
            <h4>Elsewhere</h4>
            <ol class="list-unstyled">
              <li><a target="_blank" href="https://github.com/gfeitosa">GitHub</a></li>
              <li><a target="_blank" href="http://br.linkedin.com/in/gabrielfeitosa">LinkedIn</a></li>
            </ol>
          </div>
        </div><!-- /.blog-sidebar -->

      </div><!-- /.row -->

    </div><!-- /.container -->

    <footer class="blog-footer">
      <p><a target="_blank" href="https://github.com/gfeitosa">Gabriel Feitosa</a> - 2015</p>
      <p>
        <a href="#navegacao/">Back to top</a>
      </p>
    </footer>


    <!--Angular and Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/lib/jquery-1.11.2.min.js"></script>
    <script src="js/lib/ui-bootstrap-tpls-0.12.1.min.js"></script>
    <script src="js/lib/angular-resource.min.js"></script>
	<script src="js/lib/angular-route.min.js"></script> 
	<script type="text/javascript" src="js/app/app.js"></script>
	<script type="text/javascript" src="js/app/route.js"></script>
	<script type="text/javascript" src="js/controller/PostController.js"></script>
	<script type="text/javascript" src="js/controller/NavController.js"></script>
	<script type="text/javascript" src="js/services/PostService.js"></script>
  </body>
</html>