<div class="col-sm-3 col-sm-offset-1 blog-sidebar">
  <div class="sidebar-module sidebar-module-inset">
    <h4>Sobre</h4>
    <p>Aplicação desenvolvida por <a target="_blank" href="http://br.linkedin.com/in/gabrielfeitosa">Gabriel Feitosa</a> para estudo sobre o AngularJS e o Bootstrap.</p>
  </div>
  <div class="sidebar-module">
    <h4>Arquivos</h4>
    <ol class="list-unstyled">
      <li><a href="#">Janeiro 2015</a></li>
    </ol>
  </div>
  <div class="sidebar-module">
    <h4>Elsewhere</h4>
    <ol class="list-unstyled">
      <li><a target="_blank" href="https://github.com/gabrielfeitosa">GitHub</a></li>
      <li><a target="_blank" href="http://br.linkedin.com/in/gabrielfeitosa">LinkedIn</a></li>
    </ol>
  </div>
</div>
