<meta charset="UTF-8">
<div>
	<div class="blog-post">
  			<h2 class="blog-post-title" ng-mouseover="showMenuPost = true" ng-mouseleave="showMenuPost = false">
  				<span>{{vm.post.titulo}}</span>
   			<div class="blog-post-menu" ng-if="vm.isEditable()" ng-show="showMenuPost">
					<a title="editar" ui-sref="post.edit({id:vm.post.id})"><i class="glyphicon glyphicon-pencil"></i>editar</a>
					<a title="apagar" class="clicavel" ng-click="vm.deletar()"><i class="glyphicon glyphicon-trash" ></i>apagar</a>
   			</div>
  			</h2>
       	<p class="blog-post-meta">{{vm.post.dataRegistro | date:"MM/dd/yyyy @ hh:mm"}} by <a href="#">{{vm.post.usuario}}</a></p>
       	<p>{{vm.post.texto}}</p>
  </div>

	<div class="panel panel-default" ng-controller="ComentarioController as commentCtrl">
	  <div class="panel-heading">
	    <h3 class="panel-title">Comentários</h3>
	  </div>
	  <div class="panel-body">
	  	<div class="comentarios">
			<form name="comentarioForm">
				<p>
					<input type="text" class="form-control" style="width:180px;" ng-model="commentCtrl.comentario.usuario" placeholder="Usuário (Obrigatório)" ng-required="true">
				</p>
				<p>
					<textarea class="form-control" ng-model="commentCtrl.comentario.texto" ng-required="true"></textarea>
				</p>
				<p>
					<button class="btn btn-default" type="submit" ng-click="commentCtrl.adicionarComentario()" ng-disabled="comentarioForm.$invalid">Enviar Comentário</button>
				</p>
			</form>
		</div>
	    <div ng-show="commentCtrl.comentarios.length" class="comentarios">
			<ol>
				<li class="comentario" ng-repeat="c in commentCtrl.comentarios">
					<div>
						<div class="comment-head">
							<span class="name">
								<a href="">{{c.usuario}}</a>
							</span>
							<span class="date">
								{{c.data | date:"MM/dd/yyyy @ hh:mm"}}
							</span>
						</div>
						<div class="comment-entry">
							<p class="content">{{c.texto}}</p>
						</div>
					</div>
				</li>
			</ol>
		</div>
	  </div>
	</div>
</div>
